* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #8b89ff, #ffaabf);;
}

.link {
    text-decoration: none;
    color: #7774fd;
    font-weight: 700;
}

.link:hover{
    color: #ff7e9e;
}

.calendar {
    display: block;
    position: relative;
    width: 300px;
    background: #fff;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.calendar #namaBulan {
    position: relative;
    padding: 5px 10px;
    background: #31baff;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.calendar #namaHari {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #999;
}

.calendar #tanggal {
    margin-top: 0px;
    line-height: 1em;
    font-size: 80px;
    font-weight: 700;
    color: #333;
}

.calendar #tahun {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #999;
}

.calendar #sound {
    margin-bottom: 20px;
}